/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Pacifico;
  src: url("/css/Pacifico.ttf") format("truetype");
}

@-webkit-keyframes bgrotation {
  /* line 30, ../../src/sass/style.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 33, ../../src/sass/style.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes bgrotation {
  /* line 38, ../../src/sass/style.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 41, ../../src/sass/style.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes bgrotation {
  /* line 46, ../../src/sass/style.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 49, ../../src/sass/style.scss */
  100% {
    -ms-transform: rotate(360deg);
  }
}

@keyframes bgrotation {
  /* line 54, ../../src/sass/style.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 57, ../../src/sass/style.scss */
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes arrowRotation {
  /* line 30, ../../src/sass/style.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 33, ../../src/sass/style.scss */
  100% {
    -webkit-transform: rotate(10deg);
  }
}

@-moz-keyframes arrowRotation {
  /* line 38, ../../src/sass/style.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 41, ../../src/sass/style.scss */
  100% {
    -moz-transform: rotate(10deg);
  }
}

@-ms-keyframes arrowRotation {
  /* line 46, ../../src/sass/style.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 49, ../../src/sass/style.scss */
  100% {
    -ms-transform: rotate(10deg);
  }
}

@keyframes arrowRotation {
  /* line 54, ../../src/sass/style.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 57, ../../src/sass/style.scss */
  100% {
    transform: rotate(10deg);
  }
}

/* line 67, ../../src/sass/style.scss */
body {
  background: #B08B5C;
  padding: 0;
  margin: 0;
}

/* line 76, ../../src/sass/style.scss */
a:hover {
  color: #D56039 !important;
  text-decoration: none;
}

/* line 82, ../../src/sass/style.scss */
#wrapper {
  width: 100%;
  height: 100%;
  min-height: 660px;
  overflow: hidden;
}
/* line 89, ../../src/sass/style.scss */
#wrapper header {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  z-index: 2;
}
/* line 100, ../../src/sass/style.scss */
#wrapper p#intro {
  font-family: Pacifico;
  font-size: 20px;
  color: #452D0F;
  line-height: 1.3;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  height: auto;
  margin-left: -303px;
  margin-top: 80px;
  z-index: 2;
  text-align: center;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
/* line 115, ../../src/sass/style.scss */
#wrapper p#intro a {
  color: inherit;
}
/* line 119, ../../src/sass/style.scss */
#wrapper p#intro span {
  display: block;
  position: absolute;
  top: 35px;
  left: 50%;
  text-align: center;
  width: 500px;
  margin-left: -250px;
  font-size: 32px;
  color: #F2CA7A;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
/* line 132, ../../src/sass/style.scss */
#wrapper p#intro span:after {
  display: block;
  position: absolute;
  width: 500px;
  margin-left: -250px;
  color: #CD5333;
  top: 0;
  left: 50%;
  content: attr(title);
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), black);
}
/* line 147, ../../src/sass/style.scss */
#wrapper #info {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  margin-top: -240px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background: url('/img/sprites-s8d375f5abd.png') 0 0;
  height: 420px;
  width: 500px;
}
/* line 164, ../../src/sass/style.scss */
#wrapper #info p {
  font-size: 16px;
  color: #FFEEE3;
  line-height: 17px;
  text-shadow: -2px -2px 0px #260C04;
  width: 378px;
  text-align: center;
  margin: 120px auto 0 auto;
}
/* line 174, ../../src/sass/style.scss */
#wrapper #info ul {
  font-size: 13px;
  color: #FFEEE3;
  line-height: 17px;
  text-shadow: -2px -2px 0px #260C04;
  width: 378px;
  text-align: center;
  margin: 60px auto 0 auto;
}
/* line 184, ../../src/sass/style.scss */
#wrapper #info ul li {
  margin-top: 10px;
}
/* line 186, ../../src/sass/style.scss */
#wrapper #info ul li:before {
  content: '- ';
}
/* line 194, ../../src/sass/style.scss */
#wrapper #arrow {
  display: none;
  position: absolute;
  background: url('/img/sprites-s8d375f5abd.png') 0 -940px;
  height: 119px;
  width: 88px;
  top: 20px;
  right: 40px;
  z-index: 2;
  -webkit-animation: arrowRotation 0.25s linear 0s infinite alternate;
  animation: arrowRotation 0.25s linear 0s infinite alternate;
}
/* line 208, ../../src/sass/style.scss */
#wrapper footer {
  font-family: Pacifico;
  color: #452D0F;
  font-size: 14px;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
/* line 222, ../../src/sass/style.scss */
#wrapper footer #cexp_badge {
  display: inline-block;
  position: relative;
  top: 17px;
  left: 6px;
}
/* line 229, ../../src/sass/style.scss */
#wrapper footer #credit {
  display: inline-block;
  position: relative;
  top: -5px;
  line-height: 30px;
  margin: 0 15px 0 30px;
  padding: 0 15px 0 0;
  border-right: 1px dotted #452D0F;
}
/* line 237, ../../src/sass/style.scss */
#wrapper footer #credit a {
  color: inherit;
}
/* line 242, ../../src/sass/style.scss */
#wrapper footer #social {
  display: inline-block;
  border-right: 1px dotted #452D0F;
}
/* line 245, ../../src/sass/style.scss */
#wrapper footer #social #fb {
  position: relative;
  top: 2px;
  margin: 0 15px 0 0;
  display: inline-block;
  max-width: 77px;
  overflow: hidden;
}
/* line 253, ../../src/sass/style.scss */
#wrapper footer #social #twitter {
  display: inline-block;
  margin-right: -15px;
}
/* line 257, ../../src/sass/style.scss */
#wrapper footer #social #gplus {
  display: inline-block;
}
/* line 263, ../../src/sass/style.scss */
#wrapper #bg {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 268, ../../src/sass/style.scss */
#wrapper #bg #bgimage {
  position: absolute;
  width: 1600px;
  height: 1600px;
  background-image: url("/img/bgstripe.jpg");
  top: 50%;
  left: 50%;
  margin-left: -800px;
  margin-top: -800px;
  z-index: 0;
  -webkit-animation: bgrotation 120s linear 0s infinite;
  -moz-animation: bgrotation 120s linear 0s infinite;
  animation: bgrotation 120s linear 0s infinite;
}

/* line 288, ../../src/sass/style.scss */
#videoContainer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 240px;
  margin: -170px auto auto -160px;
  z-index: 1;
  -webkit-transform: scale(-2, 2);
  -moz-transform: scale(-2, 2);
  -ms-transform: scale(-2, 2);
  -o-transform: scale(-2, 2);
  transform: scale(-2, 2);
  -moz-box-shadow: 0px 0px 89px 0px #FFE9D1;
  -webkit-box-shadow: 0px 0px 89px 0px #FFE9D1;
  box-shadow: 0px 0px 89px 0px #FFE9D1;
}

/* line 308, ../../src/sass/style.scss */
#colorNav {
  width: 488px;
  height: 67px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-top: 156.5px;
  margin-left: -312px;
  z-index: 2;
  text-align: center;
}
/* line 323, ../../src/sass/style.scss */
#colorNav input[type='radio'] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* line 329, ../../src/sass/style.scss */
#colorNav label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Pacifico, sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.67);
  color: #9C9687;
  -webkit-transition: color 0.2s linear;
  -webkit-transition-delay: 0;
  -moz-transition: color 0.2s linear 0;
  -o-transition: color 0.2s linear 0;
  transition: color 0.2s linear 0;
}
/* line 342, ../../src/sass/style.scss */
#colorNav label:hover, #colorNav input[type="radio"]:checked + label {
  color: #5F5A4C;
}
/* line 346, ../../src/sass/style.scss */
#colorNav label:nth-child(2) {
  padding: 23px 0 0 45px;
  background: url('/img/sprites-s8d375f5abd.png') 0 -538px;
  height: 67px;
  width: 159px;
}
/* line 351, ../../src/sass/style.scss */
#colorNav input[type="radio"]:checked + label:nth-child(2) {
  background: url('/img/sprites-s8d375f5abd.png') 0 -605px;
  height: 67px;
  width: 159px;
}
/* line 356, ../../src/sass/style.scss */
#colorNav label:nth-child(4) {
  padding: 23px 0 0 39px;
  background: url('/img/sprites-s8d375f5abd.png') 0 -873px;
  height: 67px;
  width: 166px;
}
/* line 361, ../../src/sass/style.scss */
#colorNav input[type="radio"]:checked + label:nth-child(4) {
  background: url('/img/sprites-s8d375f5abd.png') 0 -739px;
  height: 67px;
  width: 166px;
}
/* line 366, ../../src/sass/style.scss */
#colorNav label:nth-child(6) {
  padding: 23px 0 0 23px;
  background: url('/img/sprites-s8d375f5abd.png') 0 -806px;
  height: 67px;
  width: 163px;
}
/* line 371, ../../src/sass/style.scss */
#colorNav input[type="radio"]:checked + label:nth-child(6) {
  background: url('/img/sprites-s8d375f5abd.png') 0 -672px;
  height: 67px;
  width: 163px;
}

/* line 379, ../../src/sass/style.scss */
#shutter {
  position: absolute;
  background-color: transparent;
  background: url('/img/sprites-s8d375f5abd.png') 0 -420px;
  height: 118px;
  width: 118px;
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin-left: 188px;
  margin-top: 130px;
  display: block;
  border: none;
  z-index: 2;
  -webkit-transition: all 0.1s ease;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.1s ease 0;
  -o-transition: all 0.1s ease 0;
  transition: all 0.1s ease 0;
}
/* line 397, ../../src/sass/style.scss */
#shutter:hover {
  -webkit-transform: scale(1.25, 1.25);
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -o-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
